@tailwind base;
@tailwind components;
@tailwind utilities;

* { 
    -webkit-tap-highlight-color: transparent
}

body {
    overflow: hidden;
}

* {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}